/* CSS pour l‘explication du script */

/* ----------------Mise en Page---------------- */
.script-section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 12vh 8vw;
}


/* ----------------Groupe : capture d'écran d'un scrpt + explication---------------- */
.script-block {
    margin-bottom: 9vh;
}


/* ----------------Background : glass-container---------------- */
.script-block .glass-container {
    padding: 42px;
}


/* capture d'écran */
.script-block img {
    display: block;
    width: 100%;
    height: auto;

    background: rgba(255, 255, 255, 0.96);
    border-radius: 12px;

    box-shadow:
    0 12px 36px rgba(0, 0, 0, 0.25);
}


/* expication */
.script-caption {
    margin-top: 28px;

    font-size: 26px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.95);

    text-shadow:
    0 2px 10px rgba(0, 0, 0, 0.35);
}


.script-caption strong {
    font-weight: 600;
    letter-spacing: 0.4px;
}


.script-block:last-child {
    margin-bottom: 0;
}


/* --------------Responsive-------------- */

@media (max-width: 1000px) {

    .script-section {
        padding: 10vh 6vw;
    }

    .script-block .glass-container {
        padding: 28px;
    }

    .script-caption {
        font-size: 20px;
        margin-top: 20px;
    }
}

/* --------------Affichage dans bg-------------- */
@media (max-width: 520px) {

    .script-block .glass-container {
        padding: 20px;
    }

    .script-block img {
        border-radius: 10px;
    }

    .script-caption {
        font-size: 18px;
        line-height: 1.6;
    }
}
